.join_room_page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.join_room_page_panel {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid grey;
  filter: drop-shadow(0 0 0.2rem grey);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.join_room_title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 35px;
  margin-top: 80px;

}

.join_room_inputs_container {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;

}

.error_message_container {
  display: flex;
  height: 50px;
  margin-left: 35px;
}

.error_message_paragraph {
  color: red;
}

.loading_overlay_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 82, 201, 0.7);
}

.loading_overlay_loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #0052c9;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.checkbox_container {
  display: flex;
  margin-left: 35px;
  margin-top: 5px;
  align-items: center;
  width: 75%;
  margin: auto;
  border: none;
  align-items: center;
}

.checkbox_connection {
  width: 25px;
  height: 25px;
  /* background: #2d8cff; */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  /* border-radius: 8px; */
  /* backdrop-filter: blur(80px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 3px white; */


}

.checkbox_container_paragraph {
  font-weight: 400;
  font-size: 20px;
  margin-left: 15px;
  color: white;

  /* width: 80%;
  margin: auto; */
  /* border: 1px solid white; */
}

.checkbox_image {
  max-width: 100%;
  max-height: 100%;
}


.checkboxInput {
  width: 30px;
  height: 30px;
  accent-color: green;
  /* transform: scale(10); */
}

.join_room_buttons_container {
  display: flex;
  justify-content: center;
  width: 75%;
  gap: 20px;
  /* border: 1px solid wheat; */
  margin: auto;

}

.join_room_cancel_button {
  width: 80px;
  margin-right: 35px;
  height: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  transition: 0.3s;
}

.join_room_cancel_button:hover {
  background-color: #e5e5e5;
}

.join_room_success_button {
  width: 80px;
  margin-right: 15px;
  height: 30px;
  background-color: #2d8cff;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

.join_room_success_button:hover {
  background-color: blue;
}

.join_room_inputs_container {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;

  /* border: 1px solid white; */
}

.join_room_input {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  width: 70%;
  height: 40px;
  padding: 10px 20px;
  margin: auto;
  margin-bottom: 4%;
  color: rgb(63, 61, 61);
  font-size: 18px;
  text-align: center;
  background-color: rgb(201, 192, 192);
  outline: none;
  font-weight: bold;
}

.join_room_input::placeholder {
  padding: 2px;
  font-size: 18px;
  color: rgb(63, 61, 61);
  text-align: center;
}

.join_room_input:focus::placeholder {
  color: transparent;
}

.join_room_input:focus,
.join_room_input:focus {
  outline: none;
}

.join_room_input:focus {
  border: 1px solid blue;
}


.inputFieldJoinRoom {
  color: white !important;
  z-index: 100;
}




@media screen and (max-width:1000px) {
  .joinRoomPage {
    grid-template-columns: 1fr !important;
  }

  .joinRoomPage > div:last-child{
    margin-top: 5%  !important;
  }

}